{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>К0ты</title>
</head>
<body>
<h1><i>К0кие-т0 к0ты ¯\_(ツ)_/¯<i></h1>
</body>
<table border="0">
    <caption>Cats</caption>
    <tr>
        <th>MEME</th>
        <th>Funny</th>
        <th>Relaxing</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr>
        <td><p align="center">Серьёзный к0т</p><img width="300" height="200" src="{% static 'humster/images/cats/1.png'%}"><p align="center">Начал0</p></td>
        <td><p align="center">К0т смешно показывает язык</p><img width="300" height="200" src="{% static 'humster/images/cats/15.jpg'%}"><p align="center">Начал0</p></td>
        <td><p align="center">К0т скучает</p><img width="300" height="200" src="{% static 'humster/images/cats/12.jpg'%}"><p align="center">Начал0</p></td>
    </tr>
    <tr>
    <tr>
        <td><p align="center">Нервный К0т</p><img width="300" height="200" src="{% static 'humster/images/cats/2.png'%}"><p align="center">Середина</p></td>
        <td><p align="center">К0т выглядывает</p><img width="300" height="200" src="{% static 'humster/images/cats/16.jpg'%}"><p align="center">Середина</p></td>
        <td><p align="center">К0т лежит</p><img width="300" height="200" src="{% static 'humster/images/cats/13.png'%}"><p align="center">Середина</p></td>
    </tr>
    <tr>
    <tr>
        <td><p align="center">К0т ЪУЪ</p><img width="300" height="200" src="{% static 'humster/images/cats/28.jpg'%}"><p align="center">Конец</p></td>
        <td><p align="center">К0т показывает язык</p><img width="300" height="200" src="{% static 'humster/images/cats/17.jpg'%}"><p align="center">Конец</p></td>
        <td><p align="center">К0т лежит</p><img width="300" height="200" src="{% static 'humster/images/cats/18.jpg'%}"><p align="center">Конец</p></td>
    </tr>
    </tbody>
</table>
</body>
</html>